<!DOCTYPE html>
<html class="flex flex-1 self-stretch">
  <head>
    <title><%= content_for(:title) || "Estatesearch Challenge" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <script src="https://kit.fontawesome.com/d136be8d5b.js" data-mutate-approach="sync"></script>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-blue-200 flex w-screen h-screen overflow-hidden flex-col">
    <%= turbo_frame_tag :turbo_modal %>
    <%= render "shared/flash_message" %>
    <%= render "shared/header" %>
    <main class="pt-5 flex flex-col flex-1 self-stretch items-center justify-center">
      <%= yield %>
    </main>
  </body>
</html>
